{% extends "base.html" %} {% block title %}Sign Up{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center">Inscreva-se</h3>
    <div class="form-group">
        <label for="email">Endereço de Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Inserir email"/>
    </div>

    <div class="form-group">
        <label for="primeiroNome">Primeiro Nome</label>
        <input type="text" class="form-control" id="primeiroNome" name="primeiroNome" placeholder="Inserir primeiro nome"/>
    </div>

    <div class="form-group">
        <label for="senha1">Senha</label>
        <input type="password" class="form-control" id="senha1" name="senha1" placeholder="Inserir senha"/>
    </div>

    <div class="form-group">
        <label for="senha2">Senha (Confirmar)</label>
        <input type="password" class="form-control" id="senha2" name="senha2" placeholder="Confirmar senha"/>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Inscrever-se</button>

</form>
{% endblock %}